  body {
    font-family: Arial, sans-serif;
    background-color: #35495e;
  }
  .container {
    max-width: 40%;
    margin: 5px auto;
    background-color: #e0e5e8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  .section {
    margin-bottom: 20px;
  }
  .section-header {
    border-bottom: 1px solid #465b6c;
    padding-bottom: 10px;
    margin-bottom: 10px;
    cursor: pointer; /* Añadido para hacer el título clickeable */
  }
  .section-header h2 {
    margin: 0;
    text-align: center;
  }
  label {
    font-weight: bold;
    display: block;
    font-size: 12px; /* Reducido el tamaño de la fuente */
  }
  input[type="text"],
  select {
    width: 70%;
    padding: 6px;
    margin-bottom: 15px;
    border: 1px solid #46637f;
    border-radius: 5px;
  }
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px; /* Reducido el padding */
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; /* Reducido el tamaño de la fuente */
    transition: background-color 0.3s ease;
  }
