name: DBWriter-CI
on:
  push:
    branches:
      - main
    paths:
      - '05-dbwriter/**' # Any change in this path, make trigger build action.
      - '.github/workflows/dbwriter-ci.yaml'

env:
  REPO_APP: 'mqtt-dbwriter'
  SLACK_CHANNEL: 'builds-and-ci'
  SLACK_MSG_COLOR: '#0092ff'
  BUILD_CONTEXT: './05-dbwriter'
  VULN_SEVERITY: 'CRITICAL'  
 
jobs:
  DBWriter-CI_build-docker-image:
    runs-on: ubuntu-latest 
    
    steps:
     
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Generate new version with Semantic-Version
      id: nversion
      run: |
        commit_message=$(git log --format=%B -n 1 ${{ github.sha }})
        version=$(curl -s "https://hub.docker.com/v2/repositories/jpradoar/${{ env.REPO_APP }}/tags/?page_size=5" | jq -r '.results[].name'|sort -M|grep -v latest|tail -1)
        X=$(echo $version|cut -d. -f1)
        Y=$(echo $version|cut -d. -f2)
        Z=$(echo $version|cut -d. -f3)
        custom_version=$(echo $X.$Y.$Z)
        if [[ $commit_message == *major:* ]]; then
          echo "version actual:" $version
          NuevaVersion=$(($X+1)).0.0
        elif [[ $commit_message == *minor:* ]]; then
          NuevaVersion=$X.$(($Y+1)).0
        elif [[ $commit_message == *patch:* ]]; then
          NuevaVersion=$X.$Y.$(($Z+1))
        else
          echo "es una beta"
          echo $custom_version-test
        fi
        echo "NEW_VERSION=$NuevaVersion " >> "$GITHUB_OUTPUT"  

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: ${{ env.BUILD_CONTEXT }}
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.REPO_APP }}:${{ steps.nversion.outputs.NEW_VERSION }}
        
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: '${{ secrets.DOCKERHUB_USERNAME }}/${{ env.REPO_APP }}:${{ steps.nversion.outputs.NEW_VERSION }}'
        hide-progress: true
        format: 'table'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: ${{ env.VULN_SEVERITY }}
        #exit-code: '1'              

    - name: Slack Notification
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_CHANNEL: ${{ env.SLACK_CHANNEL }}
        SLACK_COLOR: ${{ env.SLACK_MSG_COLOR }}
        SLACK_MESSAGE: 'URL: https://hub.docker.com/repository/docker/${{ secrets.DOCKERHUB_USERNAME }}/${{ env.REPO_APP }}'
        SLACK_TITLE: ':rocket: GithubAction Build docker image: [ ${{ env.REPO_APP }}:${{ steps.nversion.outputs.NEW_VERSION }} ]'
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

